<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </ul>
        </div>
    </div>
</div>
<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>
