<div class="container">
        <div class="row">
          <div class="col-md-12 text-center" id="top-bar">
            <br>
            <br>
            <h1> Live&Local </h1>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center" id="top-bar">
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link active" href="../public/home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../public/login.html">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../public/signup.html">Sign Up</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center enter_section">
              <input type="text" class="form-control" name="search" value="" id="enter_text">
              <br>
              <br>
            </form>
          </div>
        </div>
      </div>