<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css">
<link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/modal.css">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
            </li>
        </ul>
        </div>
    </div>
</div>
<br>
<br>
{{!-- <body> --}}

  
<div class="container">
  
    <!-- First Row -->
    <div class="row">

      
      <div class="col-md-12">
        <h1>Local Artists Near You!</h1>
      </div>
    </div>
    <br>
    <br>
    
    <div class="row">

      <!-- First of two columns -->
      <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <a href="#" data-toggle="modal" data-target="#mymodal">
                    <img class="card-img-top" src="https://easetemplate.com/free-website-templates/practical/images/team_img_1.jpg" alt="Card image cap">
                </a>
                    <div class="card-body">
                      <h5 href="#" data-toggle="modal" data-target="#mymodal" class="card-title">{{name}}</h5>
                      <p href="#" data-toggle="modal" data-target="#mymodal" class="card-text"></p>
                      
                    </div>
            </div>
      </div>

      <!-- Second of two columns -->
      <div class="col-md-4">
            <div class="card" style="width: 18rem;">

                    <a href="#" data-toggle="modal" data-target="#mymodal">
                        <img class="card-img-top" src="">
                    </a>
                        <div class="card-body">
                          <h5 href="#" data-toggle="modal" data-target="#mymodal" class="card-title"></h5>
                          <p href="#" data-toggle="modal" data-target="#mymodal" class="card-text"></p>
                          
                        </div>
                </div>
      </div>

      <div class="col-md-4">
          <ul>
            {{#each User}}

                <div class="card" style="width: 18em;">
                  
                        <a href="#" data-toggle="modal" data-target="#mymodal">
                            <img class="card-img-top" src="">
                        </a>
                            <div class="card-body">
                              <h5 href="#" data-toggle="modal" data-target="#mymodal" class="card-title"></h5>
                              <p href="#" data-toggle="modal" data-target="#mymodal" class="card-text">{{speciality}}</p>
                              
                            </div>
                  </div>
              {{/each}}
          </ul>
    </div>
<br>
<br>
    </div>
        <div class="row">
            <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                            <a href="#" data-toggle="modal" data-target="#mymodal">
                                <img class="card-img-top" src="">
                            </a>
                                <div class="card-body">
                                  <h5 href="#" data-toggle="modal" data-target="#mymodal" class="card-title"></h5>
                                  <p href="#" data-toggle="modal" data-target="#mymodal" class="card-text"></p>
                                  
                                </div>
                        </div>
            </div>

            <div class="col-md-4">
                    <div class="card" style="width: 18em;">
                            <a href="#" data-toggle="modal" data-target="#mymodal">
                                <img class="card-img-top" src="" alt="Card image cap">
                            </a>
                                <div class="card-body">
                                  <h5 href="#" data-toggle="modal" data-target="#mymodal" class="card-title"></h5>
                                  <p href="#" data-toggle="modal" data-target="#mymodal" class="card-text"></p>
                                  
                                </div>
                        </div>
            </div>
        
            <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                            <a href="#" data-toggle="modal" data-target="#mymodal">
                                <img class="card-img-top" src="" alt="Card image cap">
                            </a>
                                <div class="card-body">
                                  <h5 href="#" data-toggle="modal" data-target="#mymodal" class="card-title"></h5>
                                  <p href="#" data-toggle="modal" data-target="#mymodal" class="card-text"></p>
                                  
                                </div>
                        </div>
            </div>
        </div>
  
    </div>
{{!-- Modal Code --}}
<div class="modal" id="mymodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="col col_12 iamgurdeep-pic" style="display: flex; justify-content: center;">
                        <img class="img-responsive user" alt="user" src="../images/people-2561506.jpg" height="500" width="766">
                        <div class="edit-pic">
                        </div>
                        <div class="username">
                            <h2> handlebars pulls name from db <small><i class="fa fa-map-marker"></i> </small></h2>
                            <p><i class="fa fa-briefcase"></i> handlebars pulls specialty from db</p>
                            <p><i class="fa fa-briefcase"></i> handlebars pulls location from db</p>
                            
                            <a href="https://web.facebook.com" target="_blank" class="btn-o"> <i class="fa fa-user-plus"></i> FACEBOOK </a>
                            <a href="https://www.instagram.com" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> INSTAGRAM </a>
                            <a href="https://www.twitter.com" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> TWITTER </a>
                            <a href="https://www.youtube.com" target="_blank"  class="btn-o"> <i class="fa fa-plus"></i> YOUTUBE </a>
                            <a href="mailto:user@gmail.com" class="btn-o"> <i class="fa fa-plus"></i> CONTACT ME </a>
                            <a href="https://www.google.com" target="_blank" class="btn-o"> <i class="fa fa-plus"></i> WEBSITE </a>
                        </div> 
                    </div>
                    
                    <div class="ui-accordian" id="accordion">
                            <h3 class="ui-accordion-header ui-accordion-header-active ui-accordion-header-icon">BIO</h3>
                            <div class="ui-accordion-content ui-accordion-content-active">
                              <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget.
                              Integer ut neque. Vivamus nisi metus, molestie vel, gravida in,
                              condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros.
                              Nam mi. Proin viverra leo ut odio.</p>
                            </div>
                            <h3 class="ui-accordion-header ui-accordion-header-active ui-accordion-header-icon">UPCOMING EVENTS</h3>
                            <div class="ui-accordion-content ui-accordion-content-active">
                              <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
                              Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
                              faucibus interdum tellus libero ac justo.</p>
                            </div>
                            <h3 class="ui-accordion-header ui-accordion-header-active ui-accordion-header-icon">RATES</h3>
                            <div class="ui-accordion-content ui-accordion-content-active">
                              <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus.
                              Quisque lobortis.Phasellus pellentesque purus in massa.</p>
                              <ul>
                                <li>List item one</li>
                                <li>List item two</li>
                                <li>List item three</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!--end modal-content-->
    </div><!--end modal-dialog-->
</div><!--end modal-->
<script src="../public/js/modal.js"></script>
