@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.container{
  font-family: 'Oswald', sans-serif;
  color: white;
}

h2{
  font-family: 'Oswald', sans-serif;
  color: white;
}

h5{
  font-family: 'Oswald', sans-serif;
  color:black;
}

.card-text{
  font-family: 'Oswald', sans-serif;
  color:black;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

.nav-link{
  font-family: 'Oswald', sans-serif;
  color: white; 
}

h1 { font-size: 36px; }

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

h1{
  position: absolute; 
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body{
  background-image: url("../images/people.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card{
  margin-bottom: 5%;
}

.modal {
  margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-body {
    background-image: url("../images/people-2561506.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

.iamgurdeep-pic {
  display: flex; 
  justify-content: center;
  position: relative;
}

.username {
  bottom: 0;
  color: #ffffff;
  padding: 30px 15px 4px;
  position: absolute;
  width: 776px;
  text-shadow: 1px 1px 2px #000000;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #2d2c41 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #2d2c41 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #2d2c41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a64d4d4d',GradientType=0 ); /* IE6-9 */
}
.username > h2 {
  font-family: oswald;
  font-size: 27px;
  font-weight: lighter;
  margin: 31px 0 4px;
  position: relative;
  text-shadow: 1px 1px 2px #000000;
  text-transform: uppercase;
}
.username > h2 small {
  color: #ffffff;
  font-family: open sans;
  font-size: 13px;
  font-weight: 400;
  position: relative;
}
.username .fa{
  color: #ffffff;
  font-size: 14px;
  margin: 0 0 0 4px;
  position: static;
}
.edit-pic a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 21px;
  height: 39px;
  line-height: 38px;
  margin: 8px;
  text-align: center;
  width: 39px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
transition: all 0.4s ease;
  text-decoration: none !important;
  display: list-item;
  background-color: rgba(255, 255, 255, 0.1)
}
.edit-pic a:hover {
 font-size: 17px;
 opacity: 0.9;
}
.edit-pic a:focus {
 background:#b63b4d;
  color: #fff;
  border: 1px solid #b63b4d;
}
a:focus {
  outline: none;
  outline-offset: 0px;
}
.edit-pic {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4);
    color: #fff !important;
  }
.btn-o:focus {
   background:#b63b4d;
    color: #fff;
    border: 1px solid #b63b4d;
}

ul {
	list-style-type: none;
}

.btn-o {
  text-decoration: none;
  display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
}

#accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}