@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.container{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: white;
}

h2{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: white;
}

h5{
  font-family: 'Encode Sans Condensed', sans-serif;
  color:black;
}

.card-text{
  font-family: 'Encode Sans Condensed', sans-serif;
  color:black;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

.nav-link{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: white; 
}

h1 { font-size: 36px; }

img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

h1{
  position: absolute; 
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body{
  background-image: url("../images/people.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card{
  margin-bottom: 5%;
}
