.card {
    padding: 50px;
    padding-top: 10px;
  
    }

    body{
        margin: 0%;
        /* float:center  */
    }

.card-body{
    text-align: center;
}

h5{
    text-align: center;
}

.btn{
    align-content: center;
}

.form-control{
    length: 30%;
}

